# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.
https://www.kaggle.com/datasets/thedevastator/global-video-game-sales

Import the necessary libraries and create your dataframe(s).
import pandas as pd
import numpy as pd

In [2]:
import pandas as pd

df = pd.read_csv(r'vgsales.csv')

In [7]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
1,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
2,24,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,25,Grand Theft Auto: Vice City,PS2,2002.0,Action,Take-Two Interactive,8.41,5.49,0.47,1.78,16.15
4,39,Grand Theft Auto III,PS2,2001.0,Action,Take-Two Interactive,6.99,4.51,0.30,1.30,13.10

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [8]:
# checking where my null values lie before taking any action.
df.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [3]:
# The dataset is oddly missing 2018-2019, with only a single record for 2020.
df['Year'].sort_values().unique()

array([1980., 1981., 1982., 1983., 1984., 1985., 1986., 1987., 1988.,
       1989., 1990., 1991., 1992., 1993., 1994., 1995., 1996., 1997.,
       1998., 1999., 2000., 2001., 2002., 2003., 2004., 2005., 2006.,
       2007., 2008., 2009., 2010., 2011., 2012., 2013., 2014., 2015.,
       2016., 2017., 2020.,   nan])

In [4]:
# Finding the mean of the year column to use in filling the null values in that column.
df['Year'].mean().round()

np.float64(2006.0)

In [136]:
#Filled all null values with the mean of "Year" with 2006 so I can convert to an integer later in the cleaning process. 
df['Year'] = df['Year'].fillna(2006)

In [ ]:
# The dataset does not have alot of null values in general. Ive decided to let the null values remain since they will not affect
# the business question being asked. The columns containing these null values may be dropped later.

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [4]:
# Checking all sales columns to pick out possible outliers through the upper quartile and max.
df[['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']].describe()

           NA_Sales      EU_Sales      JP_Sales   Other_Sales  Global_Sales
count  16598.000000  16598.000000  16598.000000  16598.000000  16598.000000
mean       0.264667      0.146652      0.077782      0.048063      0.537441
std        0.816683      0.505351      0.309291      0.188588      1.555028
min        0.000000      0.000000      0.000000      0.000000      0.010000
25%        0.000000      0.000000      0.000000      0.000000      0.060000
50%        0.080000      0.020000      0.000000      0.010000      0.170000
75%        0.240000      0.110000      0.040000      0.040000      0.470000
max       41.490000     29.020000     10.220000     10.570000     82.740000

In [ ]:
# Any sales below 10K are not counted or are rounded. Since the sales are in fractions, .01 will be 10K.

In [10]:
# Created a function to find all the "outliers" in each sales column
def sales_outlier(x):
    up_quart = x.quantile(.75)
    outliers = x.loc[x > up_quart * 1.5].agg('sum').round()
    return outliers

In [13]:
# Counting the "outliers" in the NA_Sales column. 
sales_outlier(df['NA_Sales'])

np.float64(3271.0)

In [15]:
# Counting the "outliers" in the EU_Sales column.
sales_outlier(df['EU_Sales'])

np.float64(2037.0)

In [14]:
# Counting the "outliers" in the JP_Sales column.
sales_outlier(df['JP_Sales'])

np.float64(1204.0)

In [17]:
# Counting the "outliers" in the Other_Sales column.
sales_outlier(df['Other_Sales'])

np.float64(628.0)

In [16]:
# Counting the "outliers" in the Global_Sales column.
sales_outlier(df['Global_Sales'])

np.float64(6400.0)

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [ ]:
# The "publisher" column will not be necessary for the business question being asked, so it will be dropped.
# this will also delete the remaining null values.

In [137]:
df = df.drop('Publisher',axis = 1)
df

,Rank,Name,Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,17,Grand Theft Auto V,PS3,2013,Action,7.01,9.27,0.97,4.14,21.40
1,18,Grand Theft Auto: San Andreas,PS2,2004,Action,9.43,0.40,0.41,10.57,20.81
2,24,Grand Theft Auto V,X360,2013,Action,9.63,5.31,0.06,1.38,16.38
3,25,Grand Theft Auto: Vice City,PS2,2002,Action,8.41,5.49,0.47,1.78,16.15
4,39,Grand Theft Auto III,PS2,2001,Action,6.99,4.51,0.30,1.30,13.10
...,...,...,...,...,...,...,...,...,...,...
16593,16499,Shutsugeki! Otometachi no Senjou 2: Ikusabana ...,PSP,2011,Strategy,0.00,0.00,0.01,0.00,0.01
16594,16513,Palais de Reine,PS2,2007,Strategy,0.00,0.00,0.01,0.00,0.01
16595,16535,STORM: Frontline Nation,PC,2011,Strategy,0.00,0.01,0.00,0.00,0.01
16596,16542,Spore Galactic Adventures,PC,2009,Strategy,0.00,0.01,0.00,0.00,0.01
16597,16558,Codename: Panzers Complete Collection,PC,2016,Strategy,0.00,0.01,0.00,0.00,0.01

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [51]:
# Checking for correct datatype for each column. 
df.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [94]:
# I decided to convert the "Year" column to an integer to be more uniform. I will use the mean of the "Year" column to fill in the
# null values so I can convert from a float to an integer.
df['Year'].describe()

count    16327.000000
mean      2006.406443
std          5.828981
min       1980.000000
25%       2003.000000
50%       2007.000000
75%       2010.000000
max       2020.000000
Name: Year, dtype: float64

In [138]:
# Converted the "Year" column to an integer dtype to be more uniform. 
df['Year'] = df['Year'].astype(int)

In [139]:
# checking the data types here I can verify that the column is now an integer.
df.dtypes
df

,Rank,Name,Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,17,Grand Theft Auto V,PS3,2013,Action,7.01,9.27,0.97,4.14,21.40
1,18,Grand Theft Auto: San Andreas,PS2,2004,Action,9.43,0.40,0.41,10.57,20.81
2,24,Grand Theft Auto V,X360,2013,Action,9.63,5.31,0.06,1.38,16.38
3,25,Grand Theft Auto: Vice City,PS2,2002,Action,8.41,5.49,0.47,1.78,16.15
4,39,Grand Theft Auto III,PS2,2001,Action,6.99,4.51,0.30,1.30,13.10
...,...,...,...,...,...,...,...,...,...,...
16593,16499,Shutsugeki! Otometachi no Senjou 2: Ikusabana ...,PSP,2011,Strategy,0.00,0.00,0.01,0.00,0.01
16594,16513,Palais de Reine,PS2,2007,Strategy,0.00,0.00,0.01,0.00,0.01
16595,16535,STORM: Frontline Nation,PC,2011,Strategy,0.00,0.01,0.00,0.00,0.01
16596,16542,Spore Galactic Adventures,PC,2009,Strategy,0.00,0.01,0.00,0.00,0.01
16597,16558,Codename: Panzers Complete Collection,PC,2016,Strategy,0.00,0.01,0.00,0.00,0.01

In [111]:
# Checking the "Genre" column for any inconsistent genre names. 
df['Genre'].unique()

array(['Action', 'Adventure', 'Fighting', 'Misc', 'Platform', 'Puzzle',
       'Racing', 'Role-Playing', 'Shooter', 'Simulation', 'Sports',
       'Strategy'], dtype=object)

In [109]:
# Checking the "Platform" column for any inconsistent console names.
df['Platform'].unique()

array(['PS3', 'PS2', 'X360', 'PS4', 'DS', 'PSP', 'N64', 'Wii', 'NES',
       'PS', 'XOne', 'SNES', 'GC', '3DS', 'GB', 'XB', 'GBA', 'GEN', 'PC',
       '2600', 'WiiU', 'PSV', 'DC', 'SAT', 'TG16', '3DO', 'NG', 'SCD',
       'GG', 'WS', 'PCFX'], dtype=object)

In [141]:
# confirming data has no nulls and is properly cleaned before creating new csv.
df.isna().sum()
df

,Rank,Name,Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,17,Grand Theft Auto V,PS3,2013,Action,7.01,9.27,0.97,4.14,21.40
1,18,Grand Theft Auto: San Andreas,PS2,2004,Action,9.43,0.40,0.41,10.57,20.81
2,24,Grand Theft Auto V,X360,2013,Action,9.63,5.31,0.06,1.38,16.38
3,25,Grand Theft Auto: Vice City,PS2,2002,Action,8.41,5.49,0.47,1.78,16.15
4,39,Grand Theft Auto III,PS2,2001,Action,6.99,4.51,0.30,1.30,13.10
...,...,...,...,...,...,...,...,...,...,...
16593,16499,Shutsugeki! Otometachi no Senjou 2: Ikusabana ...,PSP,2011,Strategy,0.00,0.00,0.01,0.00,0.01
16594,16513,Palais de Reine,PS2,2007,Strategy,0.00,0.00,0.01,0.00,0.01
16595,16535,STORM: Frontline Nation,PC,2011,Strategy,0.00,0.01,0.00,0.00,0.01
16596,16542,Spore Galactic Adventures,PC,2009,Strategy,0.00,0.01,0.00,0.00,0.01
16597,16558,Codename: Panzers Complete Collection,PC,2016,Strategy,0.00,0.01,0.00,0.00,0.01

In [142]:
# Creating a new csv called "cleaned_vgsales" to use for task 4.
df.to_csv('cleaned_vgsales')

In [145]:
# reading the csv and producing a sample to make sure everything works as it should.
cleaned_df = pd.read_csv(r'cleaned_vgsales')
cleaned_df.sample(20)

,Unnamed: 0,Rank,Name,Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9300,9300,8146,Race Pro,X360,2009,Racing,0.06,0.09,0.00,0.02,0.18
6473,6473,10073,Ping Pals,DS,2004,Misc,0.10,0.00,0.00,0.01,0.11
2533,2533,12218,One Piece: Unlimited World Red,WiiU,2014,Action,0.00,0.04,0.02,0.00,0.07
2748,2748,13432,Avatar: The Game,PC,2009,Action,0.00,0.04,0.00,0.01,0.05
12643,12643,15083,Unreal Anthology,PC,2006,Shooter,0.00,0.02,0.00,0.00,0.02
6212,6212,7715,DS Kageyama Method: Dennou Hanpuku - Masu x Ma...,DS,2006,Misc,0.00,0.00,0.20,0.00,0.20
9928,9928,150,Dragon Quest IX: Sentinels of the Starry Skies,DS,2009,Role-Playing,0.66,0.69,4.35,0.15,5.84
7238,7238,430,Super Mario Maker,WiiU,2015,Platform,1.18,0.87,0.93,0.20,3.18
11320,11320,15401,The Legend of Heroes: Trails in the Sky Second...,PS3,2013,Role-Playing,0.00,0.00,0.02,0.00,0.02
8979,8979,3959,Midnight Club II,XB,2003,Racing,0.42,0.06,0.00,0.02,0.50
1335,1335,6165,Jackass the Game,PS2,2007,Action,0.14,0.11,0.00,0.04,0.28
7820,7820,10295,Lady Sia,GBA,2001,Platform,0.08,0.03,0.00,0.00,0.11
2148,2148,10175,XXX,GBA,2002,Action,0.08,0.03,0.00,0.00,0.11
3218,3218,16263,Paragon,PS4,2016,Action,0.01,0.00,0.00,0.00,0.01
6169,6169,7474,The Naked Brothers Band: The Video Game,Wii,2008,Misc,0.19,0.00,0.00,0.01,0.21
7298,7298,1098,SpongeBob SquarePants: Battle for Bikini Bottom,PS2,2003,Platform,1.08,0.45,0.00,0.14,1.67
6871,6871,13482,World Championship Spelling,DS,2010,Misc,0.04,0.00,0.00,0.00,0.04
8691,8691,505,Colin McRae Rally,PS,1998,Racing,0.09,2.43,0.12,0.22,2.87
4277,4277,15027,Are You Alice?,PSP,2011,Adventure,0.00,0.00,0.02,0.00,0.02
16380,16380,13207,SD Gundam: Scad Hammers,Wii,2006,Strategy,0.00,0.00,0.05,0.00,0.05

In [146]:
# double checking that there is no nulls left after cleaning. 
cleaned_df.isna().sum()

Unnamed: 0      0
Rank            0
Name            0
Platform        0
Year            0
Genre           0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
A. No, I found 3 different types of dirty data however my outliers will need be be included in the dataset since they're mostly highly popular games.  
2. Did the process of cleaning your data give you new insights into your dataset?
A. Yes, It really showed how many games dont break through the market and retain small amounts of sales. 
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?
A. Yes, I think it would be very useful to convert the fractional sales into whole dollars to make it easier to read and understand.